
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    background-color: #F8F8F8;
}

.main-image{
    background-image: url(/Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
}
/* nav styles */
.nav-title{
    color: #4E47FF;
    font-weight: bold;
    font-size: 35px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

/* button styles */
.button-sec{
    color:white;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button-sec:hover{
    background-color:red;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* banner styles */
.banner-content{
    padding: 80px 20px;
    text-align: center;
    font-family: sans-serif;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* see styles */
.see-section{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 116px;
    margin-bottom: 116px;
}
.see-title{
    font-weight: bold;
    font-size: 42px;
  
}
.see-sub{
    font-size: 24px;
    font-weight: 100;
    color: #252432;
}
.see-img{
    border-radius: 20px;
    max-width: 100%;
}
/* productive styles */
.productive{
    text-align: center;
    padding: 50px 80px 50px 80px;
    gap: 10px;
    border-radius: 24px;
    background-color:rgba(78, 71, 255, 0.1);
}
.productive-title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}
.productive-items{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.p-title{
    font-weight: bold;
    margin-bottom: 20px;
}
.productive-name{
    color: #4E47FF;
    font-weight: bold;
    font-size: 48px;
    font-family: sans-serif;
    margin-bottom:0%
}
.productive-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 300;
    margin-top: 0%;
}
/* touch styles */
.touch-title{
    font-weight: bold;
    font-size: 97px;
    padding: 20px;
}

/* user styles */
.user-section{
    margin-top: 137px;
    padding: 24px;
}
.review{
    background-color: #F8F8F8;
    padding: 24px 24px 24px 24px;
    gap: 24px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08) ;
    border-radius: 10px;
}
.review.title{
    text-align: left;
    padding: 24px;
}

.user-title{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    
}
.user-review{
    display: flex;
    gap: 20px;
    
}
.user-description{
    text-align: left;
}
/* focus styles */
.focus-section{
    margin-top: 116px;
    padding: 71px 150px;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.08) ;
    border-radius: 16px;
    text-align: center;
    background-color: #F8F8F8;
}
.focus-title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 8px;
}
.focus-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    margin-top: 0;
}
.focus-img{
    margin-top: 16px;
    border-radius: 20px;
    max-width: 100%;
}
.touch-section{
    margin-top: 90px;
    padding: 0, 71px;
    gap: 50px;
    align-items: center;
    display: flex;
    justify-content:space-around;

}
.touch-text{
    font-size: 14px;
    gap: 5px;
    text-align:left;
    font-weight:500;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width:400px;
    gap: 19px;
  padding:20px 32px;
  box-sizing:border-box;
  border: none;
  border-radius: 8px;
  font-family: sans-serif;
}
.form-box{
    width: 362px;
    height: 100px;
    box-shadow: none;
    gap: 19px;
    padding: 15px;
    border-radius: 8px;
    border: none;
}













